@import "tailwindcss";
@import "bootstrap-icons";

:root{
    --color-red-50: #fff0f0;
    --color-red-100: #ffdddd;
    --color-red-200: #ffc0c0;
    --color-red-300: #ff9494;
    --color-red-400: #ff5857;
    --color-red-500: #ff2423;
    --color-red-600: #ff0100;
    --color-red-700: #d70100;
    --color-red-800: #b10403;
    --color-red-900: #920b0a;
    --color-red-950: #500000;
    --color-black-50: #000000b1;
    

    
}